[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
"django-bootstrap4" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.6"
